
/* -------------------- */

/* Нижная часть сайта */

.footer_main{
  margin-top: 50px;
      border-bottom: 1px solid #1e1e24;
    height: 66px;
    box-shadow: 0 1px 40px 0 rgba(0, 0, 0, 0.6);
    background: #0d0d0f;
      position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
      position: fixed;
}




/* ------------------------- */




/* ----------------------- */

/* Адаптация  */

@media (max-width: 1200px) {

}

/* ----------------------- */
@media (max-width: 1024px) {

}

/* ----------------------- */
/* 950 px max-width */



@media (max-width: 950px){

}

/* ----------------------- */
/* 850px max-width */


@media (max-width: 850px) {

}




@media (max-width: 768px) {

}

/* ----------------------- */
/* max-width  700px */
@media (max-width: 700px) {


}


/* ----------------------- */

/* 500 */

@media (max-width: 500px) {

  /* Футер */
  .footer_main {
    height: auto;
    padding: 10px 0;
  }

}



/* ----------------------- */
@media (max-width: 360px) {

}
