
/* -------------------- */
/* Панель Поиска шапки */

.header_SearchPanel{
  border: 1px solid #2a2a35;
  border-radius: 12px;
  width: 440px;
  height: 43px;
  box-sizing: border-box;

  padding: 10px 40px 10px 10px;
background: #18181f;
font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
color: #4a4a5a;
}

.search_Panel{
position: relative;
}



.search_Panel button{
  position: absolute;
width: 20px;
height: 20px;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
    display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: white;
}




/* ----------------------- */

/* Адаптация  */

@media (max-width: 1200px) {
.header_SearchPanel {
    width: 320px;
  }
}

/* ----------------------- */
@media (max-width: 1024px) {
.header_SearchPanel {
    width: 240px;
  }
}

/* ----------------------- */
/* 950 px max-width */



@media (max-width: 950px){

  /* Поиск */
  .header_SearchPanel {
    width: 280px;
    height: 40px;
    font-size: 13px;
  }

}

/* ----------------------- */
/* 850px max-width */


@media (max-width: 850px) {
 



  .header_SearchPanel{
    width: 100%;
    max-width: 500px;
  }


.search_Panel{
  display: flex;
  justify-content: center;
}
  
}




@media (max-width: 768px) {


  /* ----------------------- */
  /* Поиск  */
    .header_SearchPanel {
    width: 100%;
    box-sizing: border-box;
  }
 
  .search_Panel {
  }
 

}

/* ----------------------- */
/* max-width  700px */
@media (max-width: 700px) {


}


/* ----------------------- */

/* 500 */

@media (max-width: 500px) {


 
}



/* ----------------------- */
@media (max-width: 360px) {

}
